# 1. Ignorar TODO por defecto
*

# 2. PERMITIR que Git entre en las carpetas
!*/

# 3. EXCEPCIONES: Ignorar carpetas pesadas u ocultas (Añadido aquí)
.venv/
venv/
.vscode/
.git/
.*
.*/

# 4. EXCEPCIONES: Tus extensiones (Tus programas)
!*.py
!*.sql
!*.txt
!*.sh

# 5. Permitir el propio archivo .gitignore
!.gitignore
