requests
httpx
finnhub-python
apscheduler
python-telegram-bot
sqlalchemy
fpdf2
pandas
mysql-connector-python
pytz
matplotlib
scikit-learn
TA-Lib
python-dotenv
fastapi
uvicorn[standard]
openpyxl
cryptography
PyMySQL
pydantic
